
 /*google font link  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
/* hero section */
 .hero-section {
    padding-top: 55px 0px;
 
 }
/* .hero-section{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}  */

.hero-logo{
    background-image: url(assets/hero-circle.png);
    background-size: cover;
    background-repeat: no-repeat;

}

 .hero-logo img {
   max-width:  75px;
   padding-top: 50px;
 }

 .choose-section{
    padding: 40px 0px;
 }

 .choose-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
 }
 .box {
    padding: 10px;
    line-height: 30px;
    border: 1px solid tomato;
 }

 /* featured section */

 .video-box {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
 }
 .video-box iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-container {
    background-image: url(assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 0px;
    min-height:350px;
    position: relative;
}

 
@media screen and (max-width:576px) {
    .footer-container {
       background-size: contain;
      padding-top: 50px;

        
    }
}
 